.button {
    font-family: 'inter-tight', Arial, Helvetica, sans-serif;

    display: flex;
    column-gap: 4px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 100px;
    border: none;
    padding: 12px 20px;
    width: fit-content;
    cursor: pointer;
    font-size: 0.875em;
    font-weight: 600;
    transition: var(--hover-transition);
}

.button--primary {
    background-color: var(--blue-800);
    color: var(--white);
}

.button--primary:hover {
    background-color: var(--blue-hover);
}

.button--secondary {
    background-color: var(--blue-100);
    color: var(--blue-800);

}

.button--secondary:hover {
    background-color: var(--blue-secondary-hover);
}

.button--tertiary {
    background-color: transparent;
    color: var(--blue-800);
    border: 2px solid var(--blue-200);
    padding: 10px 20px;
    border-radius: 100px;
    transition: background-color 0.2s, border 0.2s;
}

.button--tertiary:hover {
    background-color: var(--blue-secondary-hover);
}

.button--quaternary {
    background-color: transparent;
    color: var(--link-blue);
    display: inline-block;
    padding: 0px;
}

.button--quaternary:hover {
    text-decoration: underline;
}

.button-footer {
    display: flex;
    align-items: center;
}








.picker-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    transition: background-color 0.2s ease;
    column-gap: 8px;
}

.picker-container__none-picker {
    justify-content: end;
    column-gap: 16px;
}

.picker-container__title-position {
    margin-top: 0px;
}

.navigation-button {
    background-color: #F0F0F1;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s, transform 0.3s ease, opacity 0.3s ease;
}

.icon-navigation-left {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M10.53 2.97a.75.75 0 0 1 0 1.06L6.56 8l3.97 3.97a.75.75 0 1 1-1.06 1.06l-4.5-4.5a.75.75 0 0 1 0-1.06l4.5-4.5a.75.75 0 0 1 1.06 0' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: var(--blue-800);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.icon-navigation-right {
    display: inline-block;
    width: 2.5em;
    height: 2.5em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M5.47 13.03a.75.75 0 0 1 0-1.06L9.44 8L5.47 4.03a.75.75 0 0 1 1.06-1.06l4.5 4.5a.75.75 0 0 1 0 1.06l-4.5 4.5a.75.75 0 0 1-1.06 0' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: var(--blue-800);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.navigation-button:hover {
    background-color: #E0E0E0;
}

.navigation-button:active {
    background-color: #d5d3d3;
}



.picker-point {
    display: flex;
    align-items: center;
    justify-content: space-between;


    background-color: #F0F0F1;
    padding: 10px 14px;
    border-radius: 100px;
    column-gap: 5px;
}

.picker-point__point {
    background-color: var(--white);
    width: 8px;
    height: 8px;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.picker-point__point-active {
    background-color: var(--blue-800);
    cursor: auto;
    transition: background-color 0.2s ease;
}

.picker-point__point:hover {
    background-color: #BEE6FF;
}

.picker-point__point-active:hover {
    background-color: var(--blue-800);
}

@media (max-width: 1280px) and (min-width: 481px) {

    .button {
        padding: 10px 18px;
        font-size: 0.7em;
    }

}

@media (max-width: 480px) and (min-width: 0px) {

    .button {
        padding: 10px 16px;
        font-size: 0.6em;
    }

}

@media (max-width: 640px) and (min-width: 360px) {

    .picker-point__point {
        width: 10px;
        height: 10px;
        border-radius: 100px;
        margin-right: 6px;
    }

    .navigation-button {
        width: 32px;
        height: 32px;
        display: none;
    }

    .picker-point {
        padding: 8px 12px;
    }
    
    .picker-point__point {
        width: 8px;
        height: 8px;
        margin-right: 5px;
    }
}







/* Кнопки для форм */

.button--primary-id {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 100%;
    border-radius: 100px;
    padding: 16px 24px;
    background-color: var(--blue-800);
    color: var(--white);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'inter-tight', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
}

@media (max-width: 640px) and (min-width: 360px) {
    .button--primary-id {
        height: 44px !important;
        font-size: 0.9em !important;
    }

    .button--secondary-id {
        height: 44px !important;
        font-size: 0.9em !important;
    }

    .button--tertiary-id {
        font-size: 0.9em !important;
    }

}

.button--primary-id:hover {
    background-color: #285B7D;
}

.button--secondary-id {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    color: var(--dark_blue);  
    border-radius: 100px;
    border: var(--blue-400) solid 1px;
    width: 100%;
    padding: 16px 24px;
    cursor: pointer;    
    text-decoration: none;
    transition: background-color 0.2s;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'inter-tight', Arial, Helvetica, sans-serif;
    font-size: 1em;
    font-weight: 500;
}

.button--secondary-id:hover {
    background-color: #BEE6FF;
}

.button--tertiary-id {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--link-blue);
    font-size: 1em;
}

.button--tertiary-id:hover {
    text-decoration: underline;
}