header, .level-1, .level-2 {
    width: 100%;
}

.level-1 {
    background-color: var(--gray-100);
    padding: 10px 0px;
}

.level-1__elements { 
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1640px;
    margin: 0 auto;
    padding: 0px 50px;
}

.level-1__left-navigation {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.level-1__right-navigation {
    display: flex;
    align-items: center;
    column-gap: 16px;
}

.level-1__left-navigation a, .level-1__right-navigation a {
    text-align: center;
    font-weight: 500;
    font-size: 0.875em;
    text-decoration: none;
    color: var(--gray-400);
    transition: color 0.2s ease;

}

.level-1__left-navigation a:hover, .level-1__right-navigation a:hover {
    color: var(--link-blue);
}

.icon-glasses {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='%23000' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'%3E%3Ccircle cx='6' cy='14' r='4'/%3E%3Ccircle cx='18' cy='14' r='4'/%3E%3Cpath d='m10 14l.211-.106a4 4 0 0 1 3.578 0L14 14m5-8l2.838 6.623a2 2 0 0 1 .162.788V14M5 6l-2.838 6.623A2 2 0 0 0 2 13.41V14'/%3E%3C/g%3E%3C/svg%3E");
    background-color: var(--blue-800);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition: background-color 0.2s ease;
}

.icon-disabled-person {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M8 1q-.558.001-1.094.085a.75.75 0 0 0 .232 1.482a5.6 5.6 0 0 1 1.724 0a.75.75 0 0 0 .232-1.482A7 7 0 0 0 8 1M4.767 3.55a.75.75 0 1 0-.882-1.213a7 7 0 0 0-1.548 1.548a.75.75 0 0 0 1.213.882c.34-.466.75-.878 1.217-1.217m7.348-1.213a.75.75 0 1 0-.883 1.213c.467.34.879.75 1.218 1.217a.75.75 0 0 0 1.213-.882a7 7 0 0 0-1.548-1.548M2.567 7.138a.75.75 0 0 0-1.482-.232a7 7 0 0 0 0 2.188a.75.75 0 0 0 1.482-.232a5.6 5.6 0 0 1 0-1.724m12.348-.232a.75.75 0 1 0-1.482.232a5.5 5.5 0 0 1 0 1.724a.75.75 0 0 0 1.482.232a7 7 0 0 0 0-2.188M3.55 11.233a.75.75 0 1 0-1.213.882a7 7 0 0 0 1.548 1.548a.75.75 0 0 0 .882-1.213a5.5 5.5 0 0 1-1.217-1.217m10.113.882a.75.75 0 0 0-1.213-.883a5.5 5.5 0 0 1-1.217 1.218a.75.75 0 0 0 .882 1.213a7 7 0 0 0 1.548-1.548m-6.525 1.318a.75.75 0 0 0-.232 1.482a7 7 0 0 0 2.188 0a.75.75 0 1 0-.232-1.482a5.5 5.5 0 0 1-1.724 0M10 11a.75.75 0 0 0 0-1.5H6A.75.75 0 0 0 6 11zm0-3a.75.75 0 0 1-.75-.75v-1a.75.75 0 0 1 1.5 0v1A.75.75 0 0 1 10 8m-4.75-.75a.75.75 0 0 0 1.5 0v-1a.75.75 0 0 0-1.5 0z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: var(--blue-800);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition: background-color 0.2s ease;
}

.icon-disabled-person:hover, .icon-glasses:hover {
    background-color: var(--link-blue);
}

.level-2 {
    background: rgba(255, 255, 255, 0.85);
    backdrop-filter: blur(40px);
    padding: 18px 0px;
}

.level-2__elements {
    max-width: 1640px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px;
}

.line {
    height: 1px;
    background: var(--line-gray-header);
}

.level-1__elements {
    position: relative;
}

.level-2__center-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 4px;
}

.level-2__center-navigation a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-weight: 500;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    color: var(--blue-800);
    transition: color 0.2s ease;
}

.level-2__center-navigation a:hover {
    color: var(--link-blue);
}
    



.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.logo__name {
    color: var(--blue-800);
    font-size: 0.6em;
    font-weight: 500;
    width: 150px;
    text-align: left;
    padding-left: 10px;
}

.logo > img {
    width: 42px;
    height: 36px;
}

.level-2__right-navigation > .search-icon {
    border: none;
    background: none;
    margin-right: 22px;
    cursor: pointer;
}

.icon-search {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    margin-right: 16px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' fill-rule='evenodd' d='M11.5 7a4.5 4.5 0 1 1-9 0a4.5 4.5 0 0 1 9 0m-.82 4.74a6 6 0 1 1 1.06-1.06l2.79 2.79a.75.75 0 1 1-1.06 1.06z' clip-rule='evenodd'/%3E%3C/svg%3E");
    background-color: var(--blue-800);
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    transition: background-color 0.2s ease;
}

.icon-search:hover {
    background-color: var(--link-blue);
}

.level-2__right-navigation {
    display: flex;
    align-items: center;
}

@media (max-width: 1440px) and  (min-width: 320px) {
    .level-1__elements  {
        padding: 0px 24px;
    }

    .level-2__elements {
        padding: 0px 24px;  
    }
}

@media (max-width: 1140px) and (min-width: 1024px)  {
    .level-2__center-navigation a {
        font-size: 0.9em;
        margin-right: 14px;
    }

    .level-1__left-navigation a, .level-1__right-navigation a {
        font-size: 0.9em;
        margin-right: 14px;
    }

    .logo__name {
        font-size: 0.5em;
        width: 110px;
        padding-left: 8px;
    }
    
    .logo > img {
        width: 38px;
        height: 32px;
    }
}


@media (max-width: 1024px) and (min-width: 320px)  {
    .level-1 {
        display: none;
    }

    .level-2__center-navigation a {
        display: none;
    }

    .level-1__left-navigation a, .level-1__right-navigation a {
        display: none;
    }

    .logo__name {
        display: none;
    }
    
    .logo > img {
        width: 38px;
        height: 32px;
    }
}